.idea/
测试/
*.log
Thumbs.db
Desktop.ini
/需求/99%%￥￥/
/需求/小问题的优化/
/需求/闲聊，关于操作便捷性/
/备份/
/需求/关于目录列表和终端列表的必要性/
/.claude/
/需求/CluadeCode指令白名单/
/需求/执行完成后得提示/
/需求/多窗口差异/
/需求/窗口更名/
/需求/提示/
/需求/复关系完善/
/需求/弹窗级别/
/需求/快捷键/
/需求/第三窗口/
/需求/背景色/
/需求/github更新失败/
/需求/二窗蓝底/
/需求/位置跳动/
/需求/查下复执行的逻辑/
/需求/历史财富/
/需求/测试啊/需求.txt
